<div>
  <ul class="navigation">
    <li ng-repeat="item in nav.menu" ui-sref-active="active">
      <a ui-sref="{{item.state}}">{{item.title}}</a>
    </li>
    <li><p>|</p></li>
    <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>

    <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
    <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>

    <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p></li>
    <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span
      class="glyphicon glyphicon-cog"></span></a></li>
    <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
  </ul>
</div>

